name: "book"

on:
- push


permissions:
    checks: write
    contents: read

jobs:

  pdoc:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: cvxgrp/.github/actions/environment@v2.2.7

      - uses: cvxgrp/.github/actions/pdoc@v2.2.7
        with:
          source-folder: 'src/pension_planning_agent'

  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout [${{ github.repository }}]
        uses: actions/checkout@v4

      - uses: cvxgrp/.github/actions/coverage@main
        with:
          tests-folder: src/tests
          source-folder: src/pension_planning_agent

  book:
    runs-on: "ubuntu-latest"
    needs: [test, pdoc]

    permissions:
      contents: write

    steps:
      - name: Checkout [${{ github.repository }}]
        uses: actions/checkout@v4

      - name: Upload the book
        if: ${{ env.ACT != 'true' }}  # Skip if running with 'act'
        uses: cvxgrp/.github/actions/book@main
